body {
    font-family: Arial;
    margin: 0;
}
p {
    margin: 8px 0;
}
a {
    color: #000;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 1em;
    line-height: normal;
    text-align: center;
    font-weight: bold;
}
.row {
    margin: 0;
}
.col-md-9 {
    padding: 0em;
}
.link {
    text-align: center;
}
#authenticate, #infos {
    text-align: justify;
    padding-right: 14px;
    font-size: 0.9em;
}
.warning {
    float:left;
    padding-right: 5px;
    width: 40px;
}
#map-canvas {
    margin: 0;
    width: 100%;
}
#map-canvas img {
    max-width: none;
}
#check {
    font-size: 1.4em;
    text-align: center;
}
#powered {
    font-size: 0.8em;
    text-align:center;
    padding-bottom: 1em;
}
